* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*----------- Navbar---------------- */

nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 1;
    padding: 0 10%;
    height: 75px;
    line-height: 75px;
    background: rgb(143, 141, 182);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.09);

}

.navbar-brand img {
    width: 120px;
    mix-blend-mode: multiply;
}

nav .navbar-list {
    display: flex;
    margin-bottom: 0;
}

nav .navbar-list .nav-list {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

ul {
    padding-left: 0;
}

nav .navbar-list .nav-list:hover {
    background: #6d4aad;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
}

nav .navbar-list .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:856px) {
    .navbar-brand img {
        width: 110px;
        mix-blend-mode: multiply;
    }

    nav {
        padding: 0 2rem;
        /* position: fixed; */
    }

    nav .navbar-list .nav-list {
        padding: 0 20px;

    }
}

@media(max-width:675px) {
    .navbar-brand img {
        width: 110px;
        mix-blend-mode: multiply;
    }

    nav .navbar-list {
        display: grid;
        position: absolute;
        background: rgb(143, 141, 182);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-115%);
        z-index: -1;
        transition: .6s;
        padding-left: 0;
    }

    nav .navbar-list .nav-list {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}


/* ------------------Hamburger Menu-------------------- */

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input#toggle {
    display: none;
}

input:checked~nav .navbar-list {
    transform: translateY(0);

}

input :checked~nav .navbar-toggler {
    margin-top: 35px;
}

input:checked~nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked~nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked~nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}



body {
    height: 88vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i0.wp.com/www.designlike.com/wp-content/uploads/2018/03/restaurant-1948732_1920.jpg');
    background-size: cover;
}

/* --------------Content Text ------------------- */

.re-text {
    font-family: 'Dancing Script', cursive;
    color: rgb(211, 24, 24);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 2em;
}

h1 {
    color: white;
    text-align: center;
    /* padding-bottom: 10px; */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: auto;
}

hr.new {
    border: 1px solid white;
    width: 60px;
    margin: auto;

}

img.image1 {
    width: 50px;
    margin: auto;
    padding: 5px;
}

.box{
    display: flex;
    margin-bottom: 10px;
}
.image img{
    margin-top: 30px;
    width: 700px;
    padding-left: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

/*----------------------- Form ---------------------- */

.form {
    margin-top: 30px;
    width: 640px;
    background: white;
    float: right;
    margin-right: 28px;
    font-weight: 600;
    padding: 20px;
}

.myform {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

label {
    display: block;
    margin: 0.5rem 0;
    cursor: pointer;
}
span{
    color: red;
}

input {
    /* display: flex; */
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    border: 2px solid #ccc;
    width: 300px;
    background-color: #f1f1f1;
}

.guest input {
    width: 100%;
}

.textarea,
.guest {
    grid-column: 1 / span 2;
}

.textarea textarea {
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px 10px;
    background-color: #f1f1f1;
}

.btn {
    display: flex;
}

.book-btn {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    background-color: #6d4aad;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.cancel a {
    margin-top: 29px;
    display: flex;
    text-decoration: none;
    color: black;
    padding-left: 12px;
    margin-right: 14px;
    font-size: 0.9em;

}

hr.line {
    margin-right: 20px;
    border: 2px solid red;
    margin: auto;
    width: 150px;
}
@media screen and (max-width:810px) {
    .box{
        display: flex;
        /* width: 550px; */
        /* margin: auto; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .image img{
        display: none;
    }
    .form{
        width: 600px;
        /* margin: auto; */
    }
    .myform{
        display: block;
    }
    input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid #ccc;
        width: 100%;
        background-color: #f1f1f1;
    }
}
@media(max-width:675px) {
    .image img{
        display: none;
    }

    .form{
        
        padding: 20px;
        margin: auto;
        width: 410px;
        margin-top: 15px;
    
    }
    .myform{
        margin-top: 15px;
        padding: 10px;
        margin: 14px;
    }
}