* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*----------- Navbar---------------- */

nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 1;
    padding: 0 10%;
    height: 75px;
    line-height: 75px;
    background: rgb(143, 141, 182);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.09);

}

.navbar-brand img {
    width: 120px;
    mix-blend-mode: multiply;
}

nav .navbar-list {
    display: flex;
    margin-bottom: 0;
}

nav .navbar-list .nav-list {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

ul {
    padding-left: 0;
}

nav .navbar-list .nav-list:hover {
    background: #6d4aad;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
}

nav .navbar-list .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:856px) {
    .navbar-brand img {
        width: 110px;
        mix-blend-mode: multiply;
    }

    nav {
        padding: 0 2rem;
        /* position: fixed; */
    }

    nav .navbar-list .nav-list {
        padding: 0 20px;

    }
}

@media(max-width:675px) {
    .navbar-brand img {
        width: 110px;
        mix-blend-mode: multiply;
    }

    nav .navbar-list {
        display: grid;
        position: absolute;
        background: rgb(143, 141, 182);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-115%);
        z-index: -1;
        transition: .6s;
        padding-left: 0;
    }

    nav .navbar-list .nav-list {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}


/* ------------------Hamburger Menu-------------------- */

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input#toggle {
    display: none;
}

input:checked~nav .navbar-list {
    transform: translateY(0);

}

input :checked~nav .navbar-toggler {
    margin-top: 35px;
}

input:checked~nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked~nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked~nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

/* --------------------------------------------------- */

body{
    background-color: #d1bcf7;;
}

.contact{
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.images  img{
    margin-right: 600px;
    width: 30px;
}
.contact h1{
    font-size: 2.4rem;
    color: #6d4aad;
    font-weight: 900;
}
.contact p{
    margin-top: 10px;
    font-size: .9rem;
    /* color: brown; */
}
.star-image img{
margin-left: 560px;
width: 30px;
}

/*---------------------------  */

.form{
 
    display: flex;
    width: 1000px;
    margin: auto;
    /* background-color: #a681ec; */
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}
.myform {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
label {
    display: block;
    margin: 0.5rem 0;
    cursor: pointer;
    font-weight: 700;
}
input {
    /* display: flex; */
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    border: 2px solid #ccc;
    width: 290px;
    background-color: #f1f1f1;
}
.textarea {
    grid-column: 1 / span 2;
}

.textarea textarea {
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px 10px;
    background-color: #f1f1f1;
}
.images1{
    padding: 20px;
    border-radius: 20px;
   width:400px;
}
.images1 img{
    width: 400px;
}
.submit{
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    width: 100px;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 9);
}

@media screen and (max-width:810px) {
    .contact{
        display: flex;
        max-width: 550px;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /* .images1 img{
        display: none;
    } */
    .form{
        width: 640px;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
    }
    .myform{
        display: block;
    }
    input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid #ccc;
        width: 100%;
        background-color: #f1f1f1;
    }
    .btn{
        margin-top: 20px;
    }
}

@media(max-width:675px) {

    .contact{
        display: flex;
        max-width: 400px;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .images1 img{
        display: none;
    }
    .star-image img{
        display: none;
    }
    .form{
        width: 410px;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
    }
    .myform{
        display: block;
    }
    input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid #ccc;
        width: 350px;
        background-color: #f1f1f1;
    }
    .btn{
        margin-top: 20px;
    }

}

/* ----------------------Features Section--------------------------- */

.features{
    width: 1200px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 25px;
    transition: 0.2s ease-in-out;
}
.feature h3{
    /* color:#6d4aad; */
    font-weight: 700;
    font-size: 1.2rem;
}
.feature img{
    width: 10%;
    margin-bottom: 20px;
    object-fit:contain;
}
.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.5);
}
@media(max-width:810px) {
    .features{
        display: block;
        width: 650px;
    }
}
@media(max-width:675px) {
    .features{
        width: 600px;
    }
   
}