* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*----------- Navbar---------------- */

nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 1;
    padding: 0 10%;
    height: 75px;
    line-height: 75px;
    background: rgb(143, 141, 182);
    box-shadow: 5px 5px 5px rgba(1,1,1,0.09);
 
}
 .navbar-brand img {
    width: 120px;
    mix-blend-mode: multiply;  
}
nav .navbar-list {
    display: flex;
    margin-bottom: 0;
}
nav .navbar-list .nav-list {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}
ul{
    padding-left: 0;
}
nav .navbar-list .nav-list:hover {
    background: #6d4aad;
   box-shadow:5px 5px 5px rgba(1,1,1,0.1) ;
}
nav .navbar-list .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:856px) {
    .navbar-brand img {
       width: 110px;
        mix-blend-mode: multiply;  
    }

    nav{
        padding: 0 2rem;
        /* position: fixed; */
    }
    nav .navbar-list .nav-list{
        padding: 0 20px;
         
    }
}
@media(max-width:675px){
    .navbar-brand img {
        width: 110px;
        mix-blend-mode: multiply;  
    }
    nav .navbar-list{
        display: grid;
        position: absolute;
        background: rgb(143, 141, 182);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-115%);
        z-index: -1;
        transition: .6s;
        padding-left: 0;
    }
    nav .navbar-list .nav-list{
        padding-left: 35px;
    }
    nav .navbar-toggler{
        display: grid !important;
    }
}


/* ------------------Hamburger Menu-------------------- */

nav .navbar-toggler{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}
nav .navbar-toggler .bar{
 width: 40px;
 height: 5px;
 margin-bottom: 10px;
 background: #ffffff;
 border-radius: 10%;
 transition: .4s;
}
input{
    display: none;
}
input:checked~ nav .navbar-list{
    transform: translateY(0);
   
}
input :checked~nav .navbar-toggler{
    margin-top: 35px;
}
input:checked~nav .navbar-toggler .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}
input:checked~nav .navbar-toggler .bar:nth-child(2){
    display: none;
}
input:checked~nav .navbar-toggler .bar:nth-child(3){
    transform: rotate(-45deg);
}

/* -------------Header--------------- */

.container{
    width: 1200px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
    width: 100%;
    padding-left: 50px;
}
.carousel-item img{
    margin-top: 45px;
    width: 100%;
    border-radius: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
}
.tag{
    margin-top: 30px;
    background-color: #149f39;
    color: white;
    padding: 5px 10px;
    align-self: flex-start;
}
.text h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.explore{
  cursor: pointer;
    background: #ffc066;
    align-self: flex-start;
    font-weight: 500;
}
@media(max-width:900px) {
    .main{
        display: block;
    }
    .text{
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
        padding-left: 40px;
    }
}

/*----------------------- Features Vouchers----------- */

.features{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.feature h3{
    font-weight: 700;
    font-size: 1.2rem;
}
.feature img{
    width: 30%;
    object-fit:contain;
}
.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.5);
}
@media(max-width:900px) {
    .features{
        display: block;
    }
}

/* ---------Slide Cards--------- */

.menu{
     padding: 1px 1px 0 1px;;
}
.containeer{
    min-height: 80vh;
    background: #791e1e;
    margin: auto;
     max-width: 1500px;
    width: 100%;

}
.card{
    margin: 10px;
    background: white;
    border-radius: 8px;
}
.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.card .image-box{
    height: 200px;
}
.card .image-box img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    /* object-fit: contain; */
}
.card .name-dishes .name{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.card .name-dishes .job{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #4d4d4d;
}
@media(max-width:876px) {
.containeer{
    margin: auto;
    padding-left: 30px;
}
.card-wrapper{
    display: block;
    margin: auto;
    
}
.card{
    width: 400px;
    margin: auto;
    margin-top: 10px;
}
}

/*------------Chef Section-----------  */

.chef{
    color: white;
    text-align: center;
    background: rgb(143, 141, 182);
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
    width: 600px;
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    background: #fff;
}
.container1 .card1{
   position: relative;
   width: 300px;
   height: 400px;
   margin: auto;
   gap: 24px;
   overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card1 .imgbx img{
    width: 100%;
}
.container1 .card1 .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
    transition-delay: 0.8s;
}
.container1 .card1:hover .content{
    bottom: 0px;
    transition-delay: 0.8s;
}
.container1 .card1 .content .contentbx h3{
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   margin: 20px 0 15px;
   line-height: 1.1em ; 
   transition: 0.5s;
   opacity: 0;
   transform: translateY(-20px);
   transition-delay:0.6s ;
}
.container1 .card1:hover .content .contentbx h3{
    opacity: 1;
   transform: translateY(0px);
}
.container1 .card1 .content .contentbx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container1 .card1 .content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}
.container1 .card1 .content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}
 .container1 .card1:hover .content .sci li{
    transform: translateY(0px);
    opacity: 1;
} 
.container1 .card1 .content .sci li a{
    color: #fff;
    font-size:24px ;
}





 
 
 
   
