body {
  font-family: Arial;
  text-align: center;
}

#array {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  border: 2px solid black;
  font-weight: bold;
}

.active {
  background-color: yellow;
}

.found {
  background-color: lightgreen;
}
